-- Migration: Add daily_summaries table for historical data
-- This table stores daily aggregated data for each employee

CREATE TABLE IF NOT EXISTS daily_summaries (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  employee_id UUID NOT NULL REFERENCES employees(id) ON DELETE CASCADE,
  organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
  date DATE NOT NULL,
  app_summary JSONB DEFAULT '{}',
  web_summary JSONB DEFAULT '{}',
  activity_summary JSONB DEFAULT '{}',
  total_active_time INTEGER DEFAULT 0,
  total_sessions INTEGER DEFAULT 0,
  most_used_app TEXT,
  most_visited_domain TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(employee_id, date)
);

-- Create index for efficient queries
CREATE INDEX IF NOT EXISTS idx_daily_summaries_employee_date ON daily_summaries(employee_id, date);
CREATE INDEX IF NOT EXISTS idx_daily_summaries_organization_date ON daily_summaries(organization_id, date);

-- Add RLS policies
ALTER TABLE daily_summaries ENABLE ROW LEVEL SECURITY;

-- Policy: Users can only see summaries for their organization
CREATE POLICY "Users can view daily summaries for their organization" ON daily_summaries
  FOR SELECT USING (
    organization_id IN (
      SELECT organization_id FROM employees WHERE id = auth.uid()
    )
  );

-- Policy: System can insert/update daily summaries
CREATE POLICY "System can manage daily summaries" ON daily_summaries
  FOR ALL USING (true);

-- Function to automatically update updated_at timestamp
CREATE OR REPLACE FUNCTION update_daily_summaries_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger to automatically update updated_at
CREATE TRIGGER update_daily_summaries_updated_at
  BEFORE UPDATE ON daily_summaries
  FOR EACH ROW
  EXECUTE FUNCTION update_daily_summaries_updated_at();

-- Function to clean up old summaries (keep only 90 days)
CREATE OR REPLACE FUNCTION cleanup_old_daily_summaries()
RETURNS INTEGER AS $$
DECLARE
  deleted_count INTEGER;
BEGIN
  DELETE FROM daily_summaries 
  WHERE date < CURRENT_DATE - INTERVAL '90 days';
  
  GET DIAGNOSTICS deleted_count = ROW_COUNT;
  RETURN deleted_count;
END;
$$ LANGUAGE plpgsql;
